<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae sapiente totam quia corporis ducimus laudantium eius officia aliquam at cupiditate quo amet, explicabo consequuntur iste iure corrupti assumenda ut?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae sapiente totam quia corporis ducimus laudantium eius officia aliquam at cupiditate quo amet, explicabo consequuntur iste iure corrupti assumenda ut?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae sapiente totam quia corporis ducimus laudantium eius officia aliquam at cupiditate quo amet, explicabo consequuntur iste iure corrupti assumenda ut?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae sapiente totam quia corporis ducimus laudantium eius officia aliquam at cupiditate quo amet, explicabo consequuntur iste iure corrupti assumenda ut?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>